@model FCA_Recommender_System.Models.ControlPanelViewModel

@{
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
    ViewData["Title"] = "ControlPanel";
}

<h2>ControlPanel</h2>

<div class="box box-body box-primary">
    <form asp-controller="Home" asp-action="UploadFile" method="post" enctype="multipart/form-data">
        <input type="file" name="file" class="btn btn-primary btn-file" />
        <button type="submit" class="btn btn-primary" style="margin-top:10px">Upload File</button>
    </form>
</div>

