@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}
@*<h1>
        <a href="/Home/ControlPanel">Control Panel</a>
    </h1>*@

<div class="row">
    <div class="col-md-8">
        <h2>Movies</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Director</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var movie in Model.Movies)
                    {
                        <tr>
                            <td><a href="@Url.Action("Movie", new { id = movie.ID })">@movie.Name</a></td>
                            <td>@movie.Director</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Categories</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <td>Name</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model.Categories)
                    {
                        <tr>
                            <td>@category.Title.Replace("_", " ")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


